body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1{
  color: blue;
}

h2{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
#root{
  display: flex;
  justify-content: center;
}

#homie{
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(243, 235, 235);
  border-radius: 15px;
  border: 3px solid rgb(228, 219, 219);
  width: 45%;
}

